flows.json
[
    {
        "id": "28754bc7c76dce38",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9cf3a6d.1104258",
        "type": "tab",
        "label": "Raspberry monitoring",
        "disabled": false,
        "info": ""
    },
    {
        "id": "595bb93a55a7385e",
        "type": "tab",
        "label": "Whatsapp-Button-Bot",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1e33a91c420cb766",
        "type": "ui_group",
        "name": "Sıcaklık",
        "tab": "9cef454925c5b513",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9cef454925c5b513",
        "type": "ui_tab",
        "name": "Akvaryum",
        "icon": "",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4525b99867ac5e98",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Aqua Otomasyon",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "1fad37344e6d4a47",
        "type": "ui_group",
        "name": "Setup Lights & Switches",
        "tab": "31a2c6717cc2e3b6",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "be6dccb48b34c3ac",
        "type": "ui_group",
        "name": "Setup Temperature",
        "tab": "82955e39e4353dc9",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "82955e39e4353dc9",
        "type": "ui_tab",
        "name": "Setup Temp",
        "icon": "",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "31a2c6717cc2e3b6",
        "type": "ui_tab",
        "name": "Setup Light&Switches",
        "icon": "",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9cb4bc4d.96552",
        "type": "ui_group",
        "name": "System",
        "tab": "ad4a1223.94ae8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "dd70abe0.14cb38",
        "type": "ui_group",
        "name": "OS",
        "tab": "ad4a1223.94ae8",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ad4a1223.94ae8",
        "type": "ui_tab",
        "z": "9cf3a6d.1104258",
        "name": "Raspbery PI (Control Panel)",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b9a07e3f9c2afc50",
        "type": "ui_group",
        "name": "Işıklandırma",
        "tab": "9cef454925c5b513",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "416f4f1d5967d349",
        "type": "ui_group",
        "name": "Cihazlar",
        "tab": "9cef454925c5b513",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "33ce40a55ca36c12",
        "type": "ui_group",
        "name": "Su Seviye",
        "tab": "9cef454925c5b513",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f14e09cc9001f7ba",
        "type": "ui_spacer",
        "z": "28754bc7c76dce38",
        "name": "spacer",
        "group": "b9a07e3f9c2afc50",
        "order": 4,
        "width": "1",
        "height": "6"
    },
    {
        "id": "9cc0c43910b79c7a",
        "type": "ui_spacer",
        "z": "28754bc7c76dce38",
        "name": "spacer",
        "group": "416f4f1d5967d349",
        "order": 4,
        "width": "1",
        "height": "6"
    },
    {
        "id": "463a92dbf979e2e1",
        "type": "ui_spacer",
        "z": "28754bc7c76dce38",
        "name": "spacer",
        "group": "33ce40a55ca36c12",
        "order": 2,
        "width": "1",
        "height": "5"
    },
    {
        "id": "0eb2ccd6004df3a3",
        "type": "whatsappLink",
        "cName": "whatsapp-web",
        "name": "Web",
        "clientType": "waWebClient",
        "onlineStatus": true,
        "loopTime": "5"
    },
    {
        "id": "f7e9c4646d9eb44c",
        "type": "sensor-ds18b20",
        "z": "28754bc7c76dce38",
        "name": "Sicaklik",
        "topic": "",
        "sensorid": "28-3ce104577c91",
        "timer": "10",
        "repeat": true,
        "x": 100,
        "y": 120,
        "wires": [
            [
                "0582d03f45a352d2"
            ]
        ]
    },
    {
        "id": "5c095a193ac37840",
        "type": "simpletime",
        "z": "28754bc7c76dce38",
        "name": "Date",
        "mydate": true,
        "myymd": true,
        "myyear": true,
        "mymonth": true,
        "mymonthn": true,
        "mydom": true,
        "mydoy": true,
        "myday": true,
        "myhourpm": true,
        "myhour": true,
        "mytime": true,
        "mytimes": true,
        "myminute": true,
        "myminutes": true,
        "mysecond": true,
        "mymillis": false,
        "myepoch": true,
        "myrawdate": true,
        "mypm": true,
        "x": 310,
        "y": 160,
        "wires": [
            [
                "135dc01048e8d175"
            ]
        ]
    },
    {
        "id": "6c4a62d3cf24da26",
        "type": "ui_gauge",
        "z": "28754bc7c76dce38",
        "name": "",
        "group": "1e33a91c420cb766",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sicaklık",
        "label": "",
        "format": "{{value}} °C",
        "min": "15",
        "max": "37",
        "colors": [
            "#b30000",
            "#00e604",
            "#ca3838"
        ],
        "seg1": "23",
        "seg2": "28",
        "diff": false,
        "className": "",
        "x": 1200,
        "y": 20,
        "wires": []
    },
    {
        "id": "ab1af15b8ee25b97",
        "type": "switch",
        "z": "28754bc7c76dce38",
        "name": "VeriKontrol",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "15",
                "vt": "num",
                "v2": "37",
                "v2t": "num"
            },
            {
                "t": "gt",
                "v": "37",
                "vt": "num"
            },
            {
                "t": "lt",
                "v": "15",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 590,
        "y": 120,
        "wires": [
            [
                "27d267046f6a996f",
                "6c4a62d3cf24da26"
            ],
            [
                "260e93d06b93eaf7"
            ],
            [
                "260e93d06b93eaf7"
            ]
        ]
    },
    {
        "id": "260e93d06b93eaf7",
        "type": "function",
        "z": "28754bc7c76dce38",
        "name": "Sensor Hatasi",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "90335bcb222f393d",
        "type": "ui_switch",
        "z": "28754bc7c76dce38",
        "name": "",
        "label": "Lamba 1",
        "tooltip": "",
        "group": "b9a07e3f9c2afc50",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "false",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "true",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1360,
        "y": 240,
        "wires": [
            [
                "fca3667f4acfe699"
            ]
        ]
    },
    {
        "id": "9a6b00f1f3daf836",
        "type": "rpi-gpio out",
        "z": "28754bc7c76dce38",
        "name": "",
        "pin": "6",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1960,
        "y": 160,
        "wires": []
    },
    {
        "id": "31abbfe09e12c1c2",
        "type": "ui_switch",
        "z": "28754bc7c76dce38",
        "name": "",
        "label": "Lamba 2",
        "tooltip": "",
        "group": "b9a07e3f9c2afc50",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "false",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "true",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1360,
        "y": 300,
        "wires": [
            [
                "929dcc6d353edc8a"
            ]
        ]
    },
    {
        "id": "04817664bce8a64f",
        "type": "rpi-gpio out",
        "z": "28754bc7c76dce38",
        "name": "",
        "pin": "13",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1740,
        "y": 240,
        "wires": []
    },
    {
        "id": "300c6ed3c8bebb45",
        "type": "ui_switch",
        "z": "28754bc7c76dce38",
        "name": "",
        "label": "Lamba 3",
        "tooltip": "",
        "group": "b9a07e3f9c2afc50",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "false",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "true",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1360,
        "y": 360,
        "wires": [
            [
                "23802a590995a250"
            ]
        ]
    },
    {
        "id": "89f00dc38c9801b7",
        "type": "rpi-gpio out",
        "z": "28754bc7c76dce38",
        "name": "",
        "pin": "19",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1740,
        "y": 300,
        "wires": []
    },
    {
        "id": "b31fc72aa054d187",
        "type": "ui_switch",
        "z": "28754bc7c76dce38",
        "name": "",
        "label": "Isıtıcı",
        "tooltip": "",
        "group": "416f4f1d5967d349",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1350,
        "y": 420,
        "wires": [
            [
                "b88a4b36938db5d4"
            ]
        ]
    },
    {
        "id": "2b09752ffd78dcfa",
        "type": "rpi-gpio out",
        "z": "28754bc7c76dce38",
        "name": "",
        "pin": "16",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1740,
        "y": 420,
        "wires": []
    },
    {
        "id": "135dc01048e8d175",
        "type": "ui_text",
        "z": "28754bc7c76dce38",
        "group": "1e33a91c420cb766",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{mytimes}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 450,
        "y": 160,
        "wires": []
    },
    {
        "id": "a1a2879b2e3d2a7e",
        "type": "ui_time_scheduler",
        "z": "28754bc7c76dce38",
        "group": "1fad37344e6d4a47",
        "name": "",
        "startDay": "1",
        "refresh": 60,
        "devices": [
            "Lamba 1",
            "Lamba 2",
            "Lamba 3"
        ],
        "singleOff": false,
        "onlySendChange": false,
        "customPayload": false,
        "eventMode": true,
        "eventOptions": [
            {
                "label": "On",
                "event": "false"
            },
            {
                "label": "Off",
                "event": "true"
            }
        ],
        "sendTopic": false,
        "lat": "41",
        "lon": "28",
        "customContextStore": "file",
        "outputs": 4,
        "order": 6,
        "width": "6",
        "height": "6",
        "x": 610,
        "y": 260,
        "wires": [
            [
                "9d3e50f8e8a94e7e"
            ],
            [
                "90335bcb222f393d"
            ],
            [
                "31abbfe09e12c1c2"
            ],
            [
                "300c6ed3c8bebb45"
            ]
        ]
    },
    {
        "id": "2290f60df45485cb",
        "type": "file in",
        "z": "28754bc7c76dce38",
        "name": "",
        "filename": "SetupAcKapa",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 380,
        "y": 260,
        "wires": [
            [
                "a1a2879b2e3d2a7e"
            ]
        ]
    },
    {
        "id": "9d3e50f8e8a94e7e",
        "type": "file",
        "z": "28754bc7c76dce38",
        "name": "",
        "filename": "SetupAcKapa",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 980,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "a27e61b3e15bbd77",
        "type": "inject",
        "z": "28754bc7c76dce38",
        "name": "Açılışta Çalış",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "2290f60df45485cb",
                "d637b62dc855961f"
            ]
        ]
    },
    {
        "id": "6eec4d0e85dd9e31",
        "type": "ui_gauge",
        "z": "28754bc7c76dce38",
        "name": "",
        "group": "be6dccb48b34c3ac",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Alarm Sicaklık",
        "label": "",
        "format": "{{value}} °C",
        "min": "0",
        "max": "50",
        "colors": [
            "#b30000",
            "#0ad006",
            "#ca3838"
        ],
        "seg1": "22",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 1200,
        "y": 960,
        "wires": []
    },
    {
        "id": "6d5cf98126d62e88",
        "type": "ui_button",
        "z": "28754bc7c76dce38",
        "name": "",
        "group": "be6dccb48b34c3ac",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Derece +",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 740,
        "wires": [
            [
                "b99441d5cd3cb3ed"
            ]
        ]
    },
    {
        "id": "7c0de8a328dd6e79",
        "type": "ui_button",
        "z": "28754bc7c76dce38",
        "name": "",
        "group": "be6dccb48b34c3ac",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Derece -",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "glo1",
        "payloadType": "flow",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 820,
        "wires": [
            [
                "1353034a909567c6"
            ]
        ]
    },
    {
        "id": "110a9b82bb73b75c",
        "type": "function",
        "z": "28754bc7c76dce38",
        "name": "function 1",
        "func": "var value = msg.payload\n\nvalue = ((value*10) + (0.2*10))/10;\n\nif (value>50)\n{\n    value=50;\n}\nif (value < 0) {\n    value = 0\n}\n\nif (isNaN(value)) {\n    value = 27\n}\n\nmsg = {\n\n    payload:value\n    \n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 740,
        "wires": [
            [
                "8bee5e070b8c4ecd"
            ]
        ]
    },
    {
        "id": "8bee5e070b8c4ecd",
        "type": "file",
        "z": "28754bc7c76dce38",
        "name": "Write SetupTemp",
        "filename": "SetupTemp",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 770,
        "y": 740,
        "wires": [
            [
                "0b3a58374eab1eea"
            ]
        ]
    },
    {
        "id": "d637b62dc855961f",
        "type": "file in",
        "z": "28754bc7c76dce38",
        "name": "",
        "filename": "SetupTemp",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 130,
        "y": 500,
        "wires": [
            [
                "fecd8673627552d3"
            ]
        ]
    },
    {
        "id": "fecd8673627552d3",
        "type": "function",
        "z": "28754bc7c76dce38",
        "name": "function 3",
        "func": "/*\nif (flow.get(\"glo1\") === undefined) {\n     //flow.set(\"glo1\", 26+1);\n     msg.payload = 27;\n}\n*/\nflow.set(\"glo1\", msg.payload);\n\nif (flow.get(\"glo1\") < 0) {\n     //flow.set(\"glo1\", 26+1);\n     msg.payload = 27;\n     flow.set(\"glo1\", msg.payload);\n}\nif (flow.get(\"glo1\") > 50) {\n     msg.payload = 28;\n     flow.set(\"glo1\", msg.payload);\n}\nif (isNaN(flow.get(\"glo1\"))) {\n     msg.payload = 28;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 660,
        "wires": [
            [
                "8bee5e070b8c4ecd"
            ]
        ]
    },
    {
        "id": "02c6d28fa55fc938",
        "type": "catch",
        "z": "28754bc7c76dce38",
        "name": "",
        "scope": [
            "d637b62dc855961f"
        ],
        "uncaught": false,
        "x": 70,
        "y": 360,
        "wires": [
            [
                "56b7c4584b6c1158"
            ]
        ]
    },
    {
        "id": "025a1726d2cb419d",
        "type": "file",
        "z": "28754bc7c76dce38",
        "name": "Write SetupTemp",
        "filename": "SetupTemp",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 150,
        "y": 440,
        "wires": [
            [
                "d637b62dc855961f"
            ]
        ]
    },
    {
        "id": "56b7c4584b6c1158",
        "type": "function",
        "z": "28754bc7c76dce38",
        "name": "function 4",
        "func": "msg.payload = 27;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 360,
        "wires": [
            [
                "025a1726d2cb419d"
            ]
        ]
    },
    {
        "id": "b99441d5cd3cb3ed",
        "type": "file in",
        "z": "28754bc7c76dce38",
        "name": "",
        "filename": "SetupTemp",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 330,
        "y": 740,
        "wires": [
            [
                "110a9b82bb73b75c"
            ]
        ]
    },
    {
        "id": "d0ef12253b48ce79",
        "type": "function",
        "z": "28754bc7c76dce38",
        "name": "function 5",
        "func": "var value = msg.payload\n\nvalue = ((value*10) - (0.2*10))/10;\n\nif (value>50)\n{\n    value=50;\n}\nif (value < 0) {\n    value = 0\n}\n\nif (isNaN(value)) {\n    value = 27\n}\n\nmsg = {\n\n    payload:value\n    \n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 820,
        "wires": [
            [
                "8bee5e070b8c4ecd"
            ]
        ]
    },
    {
        "id": "1353034a909567c6",
        "type": "file in",
        "z": "28754bc7c76dce38",
        "name": "",
        "filename": "SetupTemp",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 330,
        "y": 820,
        "wires": [
            [
                "d0ef12253b48ce79"
            ]
        ]
    },
    {
        "id": "fca3667f4acfe699",
        "type": "change",
        "z": "28754bc7c76dce38",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "#:(file)::data1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1560,
        "y": 240,
        "wires": [
            [
                "04817664bce8a64f"
            ]
        ]
    },
    {
        "id": "929dcc6d353edc8a",
        "type": "change",
        "z": "28754bc7c76dce38",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "#:(file)::data2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1560,
        "y": 300,
        "wires": [
            [
                "89f00dc38c9801b7"
            ]
        ]
    },
    {
        "id": "23802a590995a250",
        "type": "change",
        "z": "28754bc7c76dce38",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "#:(file)::data3",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1560,
        "y": 360,
        "wires": [
            [
                "cbf6579f7e558f5b"
            ]
        ]
    },
    {
        "id": "b88a4b36938db5d4",
        "type": "change",
        "z": "28754bc7c76dce38",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "#:(file)::data4",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1560,
        "y": 420,
        "wires": [
            [
                "2b09752ffd78dcfa"
            ]
        ]
    },
    {
        "id": "d9b19ac1f245361c",
        "type": "change",
        "z": "28754bc7c76dce38",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "#:(file)::data1",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 480,
        "wires": [
            [
                "90335bcb222f393d"
            ]
        ]
    },
    {
        "id": "fea2c1de254bf319",
        "type": "change",
        "z": "28754bc7c76dce38",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "#:(file)::data2",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 520,
        "wires": [
            [
                "31abbfe09e12c1c2"
            ]
        ]
    },
    {
        "id": "674f6ee1960b1d01",
        "type": "change",
        "z": "28754bc7c76dce38",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "#:(file)::data3",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 560,
        "wires": [
            [
                "300c6ed3c8bebb45"
            ]
        ]
    },
    {
        "id": "57491fb5d8d53698",
        "type": "change",
        "z": "28754bc7c76dce38",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "#:(file)::data4",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 600,
        "wires": [
            [
                "dbeaaa497d6c5cb6"
            ]
        ]
    },
    {
        "id": "3c95416df58fd6e6",
        "type": "inject",
        "z": "28754bc7c76dce38",
        "name": "Açılışta Çalış",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "x": 530,
        "y": 520,
        "wires": [
            [
                "d9b19ac1f245361c",
                "fea2c1de254bf319",
                "674f6ee1960b1d01",
                "57491fb5d8d53698",
                "7bbb2ebd51c7f4e6",
                "38fec74c86f74320"
            ]
        ]
    },
    {
        "id": "0b3a58374eab1eea",
        "type": "change",
        "z": "28754bc7c76dce38",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "#:(file)::AlarmTemp",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 740,
        "wires": [
            [
                "6eec4d0e85dd9e31"
            ]
        ]
    },
    {
        "id": "27d267046f6a996f",
        "type": "switch",
        "z": "28754bc7c76dce38",
        "name": "",
        "property": "#:(file)::AlarmTemp",
        "propertyType": "flow",
        "rules": [
            {
                "t": "gt",
                "v": "msg.payload+2",
                "vt": "jsonata"
            },
            {
                "t": "lt",
                "v": "msg.payload-2",
                "vt": "jsonata"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 990,
        "y": 80,
        "wires": [
            [
                "f10b3d83f0cbe9c7"
            ],
            [
                "b28d6efc06b2a5a0"
            ]
        ]
    },
    {
        "id": "f10b3d83f0cbe9c7",
        "type": "change",
        "z": "28754bc7c76dce38",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 80,
        "wires": [
            [
                "dbeaaa497d6c5cb6"
            ]
        ]
    },
    {
        "id": "b28d6efc06b2a5a0",
        "type": "change",
        "z": "28754bc7c76dce38",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200,
        "y": 120,
        "wires": [
            [
                "dbeaaa497d6c5cb6"
            ]
        ]
    },
    {
        "id": "594b568060eb0819",
        "type": "ui_switch",
        "z": "28754bc7c76dce38",
        "name": "",
        "label": "Isıtıcı Manuel",
        "tooltip": "",
        "group": "416f4f1d5967d349",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1370,
        "y": 500,
        "wires": [
            [
                "16f3b931e8d00356"
            ]
        ]
    },
    {
        "id": "16f3b931e8d00356",
        "type": "change",
        "z": "28754bc7c76dce38",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "#:(file)::data5",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1560,
        "y": 500,
        "wires": [
            [
                "233cb0d1b1f45ff9"
            ]
        ]
    },
    {
        "id": "dbeaaa497d6c5cb6",
        "type": "switch",
        "z": "28754bc7c76dce38",
        "name": "",
        "property": "#:(file)::data5",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 970,
        "y": 420,
        "wires": [
            [
                "b31fc72aa054d187"
            ]
        ]
    },
    {
        "id": "7bbb2ebd51c7f4e6",
        "type": "change",
        "z": "28754bc7c76dce38",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "#:(file)::data5",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 640,
        "wires": [
            [
                "594b568060eb0819"
            ]
        ]
    },
    {
        "id": "233cb0d1b1f45ff9",
        "type": "change",
        "z": "28754bc7c76dce38",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1760,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "83d4d153b5c72fb0",
        "type": "rpi-gpio in",
        "z": "28754bc7c76dce38",
        "name": "",
        "pin": "27",
        "intype": "down",
        "debounce": "25",
        "read": true,
        "bcm": true,
        "x": 120,
        "y": 1060,
        "wires": [
            [
                "64cf107392d602e3"
            ]
        ]
    },
    {
        "id": "64cf107392d602e3",
        "type": "ui_gauge",
        "z": "28754bc7c76dce38",
        "name": "",
        "group": "33ce40a55ca36c12",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sump Seviye",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "2",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 350,
        "y": 1060,
        "wires": []
    },
    {
        "id": "f1161c3d55cf0c82",
        "type": "rpi-gpio out",
        "z": "28754bc7c76dce38",
        "name": "",
        "pin": "21",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1960,
        "y": 300,
        "wires": []
    },
    {
        "id": "cbf6579f7e558f5b",
        "type": "rpi-gpio out",
        "z": "28754bc7c76dce38",
        "name": "",
        "pin": "20",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1740,
        "y": 360,
        "wires": []
    },
    {
        "id": "764f43d6ca4a7d4e",
        "type": "rpi-gpio out",
        "z": "28754bc7c76dce38",
        "name": "",
        "pin": "26",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1960,
        "y": 220,
        "wires": []
    },
    {
        "id": "15c1f521633ee2b4",
        "type": "rpi-gpio out",
        "z": "28754bc7c76dce38",
        "name": "",
        "pin": "12",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1760,
        "y": 560,
        "wires": []
    },
    {
        "id": "857ad601a44fbf37",
        "type": "ui_switch",
        "z": "28754bc7c76dce38",
        "name": "",
        "label": "KafaMotoru",
        "tooltip": "",
        "group": "416f4f1d5967d349",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1370,
        "y": 560,
        "wires": [
            [
                "7d231d5089d13124"
            ]
        ]
    },
    {
        "id": "7d231d5089d13124",
        "type": "change",
        "z": "28754bc7c76dce38",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "#:(file)::data6",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1580,
        "y": 560,
        "wires": [
            [
                "15c1f521633ee2b4"
            ]
        ]
    },
    {
        "id": "38fec74c86f74320",
        "type": "change",
        "z": "28754bc7c76dce38",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "#:(file)::data6",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 680,
        "wires": [
            [
                "857ad601a44fbf37"
            ]
        ]
    },
    {
        "id": "503219f62a0e0b42",
        "type": "sensor-ds18b20",
        "z": "28754bc7c76dce38",
        "name": "Sicaklik Sump",
        "topic": "",
        "sensorid": "28-3ce10457472e",
        "timer": "30",
        "repeat": true,
        "x": 120,
        "y": 40,
        "wires": [
            [
                "0b60733ca4e60d85"
            ]
        ]
    },
    {
        "id": "7387b7ee35c9c767",
        "type": "ui_gauge",
        "z": "28754bc7c76dce38",
        "name": "",
        "group": "1e33a91c420cb766",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sicaklık Sump",
        "label": "",
        "format": "{{value}} °C",
        "min": "15",
        "max": "37",
        "colors": [
            "#b30000",
            "#00e604",
            "#ca3838"
        ],
        "seg1": "23",
        "seg2": "28",
        "diff": false,
        "className": "",
        "x": 800,
        "y": 27,
        "wires": []
    },
    {
        "id": "b2ec4add07d9de21",
        "type": "inject",
        "z": "28754bc7c76dce38",
        "name": "",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "5c095a193ac37840"
            ]
        ]
    },
    {
        "id": "4ebd44295da9413d",
        "type": "switch",
        "z": "28754bc7c76dce38",
        "name": "VeriKontrol",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "15",
                "vt": "num",
                "v2": "37",
                "v2t": "num"
            },
            {
                "t": "gt",
                "v": "37",
                "vt": "num"
            },
            {
                "t": "lt",
                "v": "15",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 590,
        "y": 40,
        "wires": [
            [
                "7387b7ee35c9c767"
            ],
            [],
            []
        ]
    },
    {
        "id": "0582d03f45a352d2",
        "type": "change",
        "z": "28754bc7c76dce38",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload-1",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 120,
        "wires": [
            [
                "ab1af15b8ee25b97"
            ]
        ]
    },
    {
        "id": "0b60733ca4e60d85",
        "type": "change",
        "z": "28754bc7c76dce38",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload-1",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 40,
        "wires": [
            [
                "4ebd44295da9413d"
            ]
        ]
    },
    {
        "id": "d4feb199.b898b",
        "type": "ui_gauge",
        "z": "9cf3a6d.1104258",
        "name": "",
        "group": "9cb4bc4d.96552",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "CPU Temperature",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "35",
        "seg2": "60",
        "x": 770,
        "y": 20,
        "wires": []
    },
    {
        "id": "c0682e5c.a4fc",
        "type": "exec",
        "z": "9cf3a6d.1104258",
        "command": "vcgencmd measure_temp",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "winHide": false,
        "name": "RPi Temp.",
        "x": 325.2221908569336,
        "y": 46.33333683013916,
        "wires": [
            [
                "95ae4c48.9f606"
            ],
            [],
            []
        ]
    },
    {
        "id": "2be04c82.d0af74",
        "type": "inject",
        "z": "9cf3a6d.1104258",
        "name": "",
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 107.49996185302734,
        "y": 46.805556297302246,
        "wires": [
            [
                "c0682e5c.a4fc",
                "92285ea6.f97a7",
                "c0ffe68.afd6e18"
            ]
        ]
    },
    {
        "id": "95ae4c48.9f606",
        "type": "function",
        "z": "9cf3a6d.1104258",
        "name": "",
        "func": "str = msg.payload;\nmsg.payload = str.substring(5, 9);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 40,
        "wires": [
            [
                "d4feb199.b898b",
                "4bae8072.e81c2"
            ]
        ]
    },
    {
        "id": "f4592b30.2f0528",
        "type": "ui_button",
        "z": "9cf3a6d.1104258",
        "name": "",
        "group": "dd70abe0.14cb38",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reboot",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 114.66669464111328,
        "y": 330.0000696182251,
        "wires": [
            [
                "cf3854e6.653878"
            ]
        ]
    },
    {
        "id": "cf3854e6.653878",
        "type": "exec",
        "z": "9cf3a6d.1104258",
        "command": "sudo reboot",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "winHide": false,
        "name": "Reboot",
        "x": 314.888916015625,
        "y": 330.0000457763672,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "4b4a0861.092b28",
        "type": "ui_button",
        "z": "9cf3a6d.1104258",
        "name": "",
        "group": "dd70abe0.14cb38",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Shutdown",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 104.27777099609375,
        "y": 386.47229862213135,
        "wires": [
            [
                "4de9dba1.ed7854"
            ]
        ]
    },
    {
        "id": "4de9dba1.ed7854",
        "type": "exec",
        "z": "9cf3a6d.1104258",
        "command": "sudo shutdown -h now",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "winHide": false,
        "name": "Shutdown",
        "x": 324.1666564941406,
        "y": 386.6944923400879,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "4bae8072.e81c2",
        "type": "ui_chart",
        "z": "9cf3a6d.1104258",
        "name": "",
        "group": "9cb4bc4d.96552",
        "order": 5,
        "width": "6",
        "height": "4",
        "label": "CPU Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 770,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "92285ea6.f97a7",
        "type": "exec",
        "z": "9cf3a6d.1104258",
        "command": "top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "winHide": false,
        "name": "CPU Load",
        "x": 325.2221908569336,
        "y": 126.33333683013916,
        "wires": [
            [
                "404f06.1e77b0fc"
            ],
            [],
            []
        ]
    },
    {
        "id": "c0ffe68.afd6e18",
        "type": "exec",
        "z": "9cf3a6d.1104258",
        "command": "free | grep Mem | awk '{print $3/$4*100}'",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "winHide": false,
        "name": "Free Memory",
        "x": 325.2222099304199,
        "y": 190.55557250976562,
        "wires": [
            [
                "8cf70ed5.e49ec"
            ],
            [],
            []
        ]
    },
    {
        "id": "404f06.1e77b0fc",
        "type": "ui_gauge",
        "z": "9cf3a6d.1104258",
        "name": "",
        "group": "9cb4bc4d.96552",
        "order": 4,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "CPU",
        "label": "CPU",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 645.111083984375,
        "y": 114.11111450195312,
        "wires": []
    },
    {
        "id": "8cf70ed5.e49ec",
        "type": "ui_gauge",
        "z": "9cf3a6d.1104258",
        "name": "",
        "group": "9cb4bc4d.96552",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Memory free",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 663.3333320617676,
        "y": 176.55556392669678,
        "wires": []
    },
    {
        "id": "a508a5b7.89a128",
        "type": "exec",
        "z": "9cf3a6d.1104258",
        "command": "df -h",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "winHide": false,
        "name": "Disk Usage",
        "x": 322.88884353637695,
        "y": 258.2222442626953,
        "wires": [
            [
                "a8dc2f34.5e32b"
            ],
            [],
            []
        ]
    },
    {
        "id": "ad4498e0.e7c278",
        "type": "ui_gauge",
        "z": "9cf3a6d.1104258",
        "name": "",
        "group": "9cb4bc4d.96552",
        "order": 3,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Disk Space",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 661.1110496520996,
        "y": 244.88890743255615,
        "wires": []
    },
    {
        "id": "a8dc2f34.5e32b",
        "type": "function",
        "z": "9cf3a6d.1104258",
        "name": "",
        "func": "var re = /([0-9]{2})%/\nvar idx = msg.payload.search(re);\nvar str = msg.payload;\nif (idx >=0) {\n    str = msg.payload.substring(idx, idx + 2);\n}\nmsg.payload = str;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470.66661071777344,
        "y": 244.88890171051025,
        "wires": [
            [
                "ad4498e0.e7c278"
            ]
        ]
    },
    {
        "id": "5e6e69bb.0e1d38",
        "type": "inject",
        "z": "9cf3a6d.1104258",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 122.88884353637695,
        "y": 258.2222442626953,
        "wires": [
            [
                "a508a5b7.89a128"
            ]
        ]
    },
    {
        "id": "620c2ccf.7c7584",
        "type": "ui_text",
        "z": "9cf3a6d.1104258",
        "group": "dd70abe0.14cb38",
        "order": 2,
        "width": "6",
        "height": "2",
        "name": "",
        "label": "IP Address",
        "format": "{{value.substring(0, value.indexOf(\" \"))}}",
        "layout": "col-center",
        "x": 670,
        "y": 440,
        "wires": []
    },
    {
        "id": "19fadb42.3d0c25",
        "type": "inject",
        "z": "9cf3a6d.1104258",
        "name": "",
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 118.90821075439453,
        "y": 445.567081451416,
        "wires": [
            [
                "9cce8e0f.766f7"
            ]
        ]
    },
    {
        "id": "9cce8e0f.766f7",
        "type": "exec",
        "z": "9cf3a6d.1104258",
        "command": "hostname",
        "addpay": false,
        "append": "-I",
        "useSpawn": "",
        "timer": "",
        "winHide": false,
        "name": "Get Local IP",
        "x": 323.4637641906738,
        "y": 446.06709480285645,
        "wires": [
            [
                "620c2ccf.7c7584"
            ],
            [],
            []
        ]
    },
    {
        "id": "d078d4c37dcddbfd",
        "type": "chats-in",
        "z": "595bb93a55a7385e",
        "name": "Chats In",
        "whatsappLink": "0eb2ccd6004df3a3",
        "whatsappLiteevent": "messages.upsert",
        "whatsappWebevent": "",
        "x": 100,
        "y": 360,
        "wires": [
            [
                "b6b28a9e9b416545",
                "456aeee272c23848"
            ]
        ]
    },
    {
        "id": "b6b28a9e9b416545",
        "type": "switch",
        "z": "595bb93a55a7385e",
        "name": "Get #hi",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "#hi",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "#Hi",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 280,
        "y": 120,
        "wires": [
            [
                "8eb6e842afc48bf9"
            ],
            [
                "8eb6e842afc48bf9"
            ]
        ]
    },
    {
        "id": "8eb6e842afc48bf9",
        "type": "function",
        "z": "595bb93a55a7385e",
        "name": "To get the #hi",
        "func": "msg.payload = {\n    text: \"Hi, This a test message for buttons, try selecting any option below.\", //String\n    footer: `I'm just a footer.`,   //String\n    headerType: 1,                  //keep it \"1\" only.\n    buttons: [                      // Array of buttons.\n        {buttonId: 'id1-string', buttonText: {displayText: 'Simple Reply'}, type: 1},\n        {buttonId: 'id2-tempMessage', buttonText: {displayText: 'Temp. Button'}, type: 1},\n        {buttonId: 'listMessage-id3', buttonText: {displayText: 'List Message'}, type: 1}\n    ]\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 120,
        "wires": [
            [
                "b6f984dbcae75a69",
                "32b120bcdc2446d0"
            ]
        ]
    },
    {
        "id": "b6f984dbcae75a69",
        "type": "chats-out",
        "z": "595bb93a55a7385e",
        "name": "Chats Out",
        "whatsappLink": "0eb2ccd6004df3a3",
        "number": "",
        "x": 1120,
        "y": 240,
        "wires": []
    },
    {
        "id": "456aeee272c23848",
        "type": "switch",
        "z": "595bb93a55a7385e",
        "name": "Get Button Response",
        "property": "message.buttonsResponseMessage.selectedButtonId",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "id1-string",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "id2-tempMessage",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "listMessage-id3",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 680,
        "y": 340,
        "wires": [
            [
                "351cb37bbcb7d1dc"
            ],
            [
                "c8565e37aefa1654"
            ],
            [
                "2d81ceeaf0b1f07a"
            ]
        ]
    },
    {
        "id": "32b120bcdc2446d0",
        "type": "debug",
        "z": "595bb93a55a7385e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 420,
        "wires": []
    },
    {
        "id": "351cb37bbcb7d1dc",
        "type": "function",
        "z": "595bb93a55a7385e",
        "name": "Mention Reply",
        "func": "\nmsg.payload = {\n    text: `Hi @${msg.from}, hello from Tomato Bot.`, \n    mentions: [`${msg.key.remoteJid}`]\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 300,
        "wires": [
            [
                "b6f984dbcae75a69",
                "32b120bcdc2446d0"
            ]
        ]
    },
    {
        "id": "c8565e37aefa1654",
        "type": "function",
        "z": "595bb93a55a7385e",
        "name": "Temp. Button",
        "func": "msg.payload = {\n    text: \"Hi it's a template message 👍 to Test\",\n    footer: 'Hello I am footer of message.',\n    templateButtons: [\n        {index: 1, urlButton: {displayText: '⭐ Vist Node-RED', url: 'https://nodered.org/'}},\n        {index: 2, callButton: {displayText: 'Call me!', phoneNumber: '+1 (234) 5678-901'}},\n        {index: 3, quickReplyButton: {displayText: 'Click me I am Button', id: 'I-am-button-id-without-space'}},\n        {index: 4, quickReplyButton: {displayText: '🖱️ Sample Button 2', id: 'button-2-was-clicked'}}\n    ]\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 340,
        "wires": [
            [
                "b6f984dbcae75a69",
                "32b120bcdc2446d0"
            ]
        ]
    },
    {
        "id": "2d81ceeaf0b1f07a",
        "type": "function",
        "z": "595bb93a55a7385e",
        "name": "List Button",
        "func": "msg.payload = {\n  text: \"This is a list\",\n  footer: \"nice footer, link: https://google.com\",\n  title: \"Amazing boldfaced list title\",\n  buttonText: \"Required, Tap to see List\",\n  sections : [{\n    title: \"Section 1\",\n    rows: [\n        {title: \"Option 1\", rowId: \"option1\"},\n        {title: \"Option 2\", rowId: \"option2\", description: \"This is a description\"}\n    ]},\n   {\n    title: \"Section 2\",\n    rows: [\n        {title: \"Option 3\", rowId: \"option3\"},\n        {title: \"Option 4\", rowId: \"option4\", description: \"This is a description V2\"}\n    ]\n    }]\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 380,
        "wires": [
            [
                "b6f984dbcae75a69",
                "32b120bcdc2446d0"
            ]
        ]
    },
    {
        "id": "03ed98e4d8a123e1",
        "type": "comment",
        "z": "595bb93a55a7385e",
        "name": "Socket Client Only",
        "info": "Connect with whatsapp Lite (socket client) only",
        "x": 110,
        "y": 140,
        "wires": []
    },
    {
        "id": "ef67038c9dbff9d1",
        "type": "comment",
        "z": "595bb93a55a7385e",
        "name": "To get #hi from user and reply a button",
        "info": "Connect with whatsapp Lite (socket client) only",
        "x": 390,
        "y": 80,
        "wires": []
    },
    {
        "id": "08eb70757179304d",
        "type": "comment",
        "z": "595bb93a55a7385e",
        "name": "Reply as per button response",
        "info": "Connect with whatsapp Lite (socket client) only",
        "x": 820,
        "y": 260,
        "wires": []
    }
]